<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">

        <link rel="stylesheet" href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <title> Universidade Tech de Minas Gerais</title>
    </head>
    <body>
        <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>

        <div th:replace="fragments :: cabecalho"></div>

        <section class="neo-section" style="background-image:url('img/img_fundo.jpg');">
            <div class="sombra"></div>
            
            <div class="neo-container">
                <h1 class="text-center">Portal do Professor</h1>
            
                <div class="botoes">
                    <div class="wm">
                        <h5 class="btn">Cadastrar Aluno</h5>
                    </div>

                    <div class="wm">
                        <h5 class="btn justify-content-center">Encontrar Aluno</h5>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="modalPesquisa">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Encontre um Aluno</h5>
                        <button type="button" class="close" data-dismiss="model"><span>&times;</span></button>
                    </div>
                    <form method="post" action="pesquisar-aluno" th:object="${aluno}">
                        <div class="modal-body">
                            <input type="text" placeholder="Digite o nome do aluno" th:field="*{nome}" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="model">Fechar</button>
                            <button type="submit" class="btn btn-success">Pesquisar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="fragments :: rodape"></div>
       
    </body>
</html>