<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">

        <link rel="stylesheet" href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <title> Inserir Alunos</title>
    </head>
    <body>

        <div th:replace="fragments :: cabecalho"></div>

        <div class="container">
            
        </div>

    </body>
</html>